In [1]:
import pandas as pd
import numpy as np

In [12]:
tor_1=pd.read_csv("C:/Users/Daniel/Downloads/Historical_Tornado_Tracks.csv")
# attempt_1=dict(tor_1)
tor_1=tor_1[["DATE",'TIME','ST','MAG','INJ','FAT','LOSS','CLOSS','SLAT','SLON','ELAT','ELON','LEN','WID','Shape_Leng']]

,DATE,TIME,ST,MAG,INJ,FAT,LOSS,CLOSS,SLAT,SLON,ELAT,ELON,LEN,WID,Shape_Leng
0,2002-06-05,16:45:00,FL,0,0,0,0.000,0.0,28.08,-82.78,28.08,-82.78,0.1,20,0.000000
1,2002-06-08,13:40:00,FL,0,0,0,0.500,0.0,27.73,-82.73,27.72,-82.75,1.0,40,0.022361
2,2002-06-17,16:40:00,FL,0,0,0,0.000,0.0,27.48,-82.72,27.48,-82.72,0.1,20,0.000000
3,2002-07-11,12:30:00,FL,0,0,0,0.020,0.0,27.77,-82.77,27.77,-82.77,0.5,40,0.000000
4,2002-07-12,06:30:00,FL,0,0,0,0.001,0.0,27.92,-82.80,27.92,-82.80,0.5,40,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57983,1994-07-19,19:20:00,IA,0,0,0,1.000,0.0,43.22,-92.40,0.00,0.00,0.2,30,0.000155
57984,1964-06-20,20:10:00,WI,1,0,0,0.000,0.0,44.60,-91.67,0.00,0.00,1.0,10,0.000157
57985,1994-07-19,19:20:00,IA,0,0,0,2.000,0.0,43.17,-92.28,0.00,0.00,0.3,30,0.000155
57986,1964-06-22,19:15:00,IA,1,0,0,5.000,0.0,42.20,-92.70,0.00,0.00,2.0,300,0.000153
57987,1964-06-22,19:30:00,IA,2,0,0,4.000,0.0,41.40,-92.90,41.47,-92.80,6.4,200,0.122066

In [16]:
tor_1.rename(columns={'ST':'State',
                      'MAG':'Fscale',
                      'INJ':'Injured',
                      'FAT':'Fatalities',
                      'LOSS':'Property_loss',
                      'CLOSS':'Crop_loss',
                      'LEN':'Length',
                      'WID':'Width'},inplace=True)

In [17]:
tor_1

,DATE,TIME,State,Fscale,Injured,Fatalities,Property_loss,Crop_loss,SLAT,SLON,ELAT,ELON,Length,Width,Shape_Leng
0,2002-06-05,16:45:00,FL,0,0,0,0.000,0.0,28.08,-82.78,28.08,-82.78,0.1,20,0.000000
1,2002-06-08,13:40:00,FL,0,0,0,0.500,0.0,27.73,-82.73,27.72,-82.75,1.0,40,0.022361
2,2002-06-17,16:40:00,FL,0,0,0,0.000,0.0,27.48,-82.72,27.48,-82.72,0.1,20,0.000000
3,2002-07-11,12:30:00,FL,0,0,0,0.020,0.0,27.77,-82.77,27.77,-82.77,0.5,40,0.000000
4,2002-07-12,06:30:00,FL,0,0,0,0.001,0.0,27.92,-82.80,27.92,-82.80,0.5,40,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57983,1994-07-19,19:20:00,IA,0,0,0,1.000,0.0,43.22,-92.40,0.00,0.00,0.2,30,0.000155
57984,1964-06-20,20:10:00,WI,1,0,0,0.000,0.0,44.60,-91.67,0.00,0.00,1.0,10,0.000157
57985,1994-07-19,19:20:00,IA,0,0,0,2.000,0.0,43.17,-92.28,0.00,0.00,0.3,30,0.000155
57986,1964-06-22,19:15:00,IA,1,0,0,5.000,0.0,42.20,-92.70,0.00,0.00,2.0,300,0.000153
57987,1964-06-22,19:30:00,IA,2,0,0,4.000,0.0,41.40,-92.90,41.47,-92.80,6.4,200,0.122066

In [25]:
tor_2=pd.read_csv("C:/Users/Daniel/Downloads/StormEvents_2019.csv")
tor_2

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,201905,9,1554,201905,9,1830,137295,824116,TEXAS,48,...,7.0,NNE,SAN GERONIMO,29.7898,-98.6406,29.7158,-98.7744,Thunderstorms developed along a cold front as ...,Thunderstorms produced heavy rain that led to ...,CSV
1,201907,15,1640,201907,15,1641,140217,843354,MINNESOTA,27,...,5.0,E,ROCK CREEK,45.7700,-92.8700,45.7700,-92.8700,An area of low pressure over southern Manitoba...,A 14-inch tree fell due to the winds and damag...,CSV
2,201909,4,1229,201909,4,1229,141212,848333,VERMONT,50,...,1.0,W,LUDLOW,43.4000,-72.7200,43.4000,-72.7200,A strong mid-level disturbance and cold front ...,Quarter size hail reported at Okemo Ski resort.,CSV
3,201909,26,1554,201909,26,1554,141215,848338,NEW YORK,36,...,5.0,SW,MADRID,44.6988,-75.2220,44.6988,-75.2220,A strong mid-level disturbance and cold front ...,A few trees and power lines downed by thunders...,CSV
4,201909,13,1838,201909,13,1838,140688,845760,ATLANTIC SOUTH,87,...,1.0,S,CAPE CANAVERAL,28.3700,-80.6000,28.3700,-80.6000,Fast moving showers came onshore across the Br...,Weatherflow site XCOO at the Cocoa Beach Pier ...,CSV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57100,201905,29,1824,201905,29,1824,137602,826819,IOWA,19,...,2.0,W,WEST AMANA,41.8200,-92.0100,41.8200,-92.0100,"An upper level low moved over Iowa, sparking s...",NaN,CSV
57101,201905,29,534,201905,30,1200,137602,826818,IOWA,19,...,3.0,W,MT STERLING,40.6200,-92.0000,40.6201,-91.9743,"An upper level low moved over Iowa, sparking s...","Due to flooding on the Fox River, Jersey Ave i...",CSV
57102,201905,29,1913,201905,29,1914,137602,826806,IOWA,19,...,1.0,SSW,AMISH,41.5137,-91.7923,41.5171,-91.7887,"An upper level low moved over Iowa, sparking s...",An EF-0 tornado touched down at a farmstead an...,CSV
57103,201905,29,1957,201905,29,2257,137602,826790,IOWA,19,...,1.0,E,SOUTH UPPER AMANA,41.7913,-91.9588,41.7680,-91.9503,"An upper level low moved over Iowa, sparking s...",Water reported over a highway.,CSV
57104,201905,29,2002,201905,29,2202,137602,826791,IOWA,19,...,1.0,E,ELY,41.8700,-91.5900,41.8707,-91.5607,"An upper level low moved over Iowa, sparking s...",Significant water running over Vista Road in Ely.,CSV

In [26]:
tor_2.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME',
       'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
       'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE',
       'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE',
       'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH',
       'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE'],
      dtype='object')

In [ ]:
tor_2=tor_2[[]]